<launch>
    <arg name="image_width" default="640"/>
    <arg name="image_height" default="480"/>
    <arg name="camera_port" default="/dev/video2"/>
    <arg name="robot_ip" default="172.16.125.53"/>
    <arg name="kinematics_config" default="$(find ur3_teleoperation)/calibration/robot_calibration.yaml"/>
    <arg name="gripper_comport" default="/dev/ttyUSB0"/>
    <arg name="ur_robot" default="ur3"/>
    <arg name="debug" default="false"/>

    <!-- usb_cam node for UR3 operation space -->
    <include file="$(find ur3_teleoperation)/launch/usb_cam_stream_publisher.launch">
        <arg name="name" value="robot"/>
        <arg name="video_device" value="$(arg camera_port)"/>
    </include>

    <!-- UR3 robot ROS Control node -->
    <include file="$(find ur_robot_driver)/launch/ur3_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="kinematics_config" value="$(arg kinematics_config)"/>
    </include>

    <!-- Robotiq 2F-85 Gripper control server node -->
    <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch"/>

    <!-- Robot move group node -->
    <include file="$(find ur_gripper_85_moveit_config)/launch/move_group.launch">
        <arg name="ur_robot" default="$(arg ur_robot)"/>
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"/>

    <!-- Camera transform -->
    <node pkg="tf" type="static_transform_publisher" 
        name="camera_robot_transform" 
        args="0 1.5 -0.35 3.14159 0 -1,0472 base_link aruco_camera_link 100"/>
</launch>