<launch>
    <arg name="video_device" default="/dev/video2"/>
    <arg name="image_width" default="640"/>
    <arg name="image_height" default="480"/>
    <arg name="robot_ip" default="172.16.125.53"/>
    <arg name="kinematics_config" default="$(find ur3_teleoperation)/calibration/robot_calibration.yaml"/>
    <arg name="gripper_comport" default="/dev/ttyUSB0"/>
    <arg name="force_port" default="/dev/ttyACM0"/>
    <arg name="ur_robot" default="ur3"/>
    <arg name="debug" default="false" />

    <!-- Camera_link to base_link static transform publisher -->
    <node pkg="tf" type="static_transform_publisher" name="camera_robot_transform" args="0 1.5 0.25 0 0 -1.57 world camera_link 100"/>

    <!-- Robotiq 2F-85 Gripper control server node -->
    <!--node pkg="robotiq_2f_gripper_control" type="robotiq_2f_action_server.py" name="robotiq_control_server" args="comport:=$(arg gripper_comport)"/-->

    <!-- UR3 Simulation -->
    <!--include file="$(find ur3_teleoperation)/launch/ur3_gripper_85.launch"/-->

    <!-- Simulated robot move group node -->
    <include file="$(find ur_gripper_85_moveit_config)/launch/move_group.launch">
        <arg name="ur_robot" default="$(arg ur_robot)"/>
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- UR3 MoveIt Commander node -->
    <node pkg="ur3_teleoperation" type="ur3_movegroup.py" name="ur3_moveit_node"/>

    <!-- Robotiq 2f-85 gripper control client -->
    <!--node pkg="ur3_teleoperation" type="robotiq_gripper_client.py" name="robotiq_control_client"/-->

    <!-- ROSSerial node for gripper force sensor -->
    <!--node pkg="rosserial_python" type="serial_node.py" name="force_serial_node" args="$(arg force_port)"/-->
</launch>